
.Pictures  { 
		background-repeat: no-repeat;
		text-align: center;
	}
			
		
		
.align-botright	{
	 
    position: absolute;
    bottom: 0px;
    right: 0px;
	
	}
	
.button	{
	
	height: 70px;
    width: 170px;
	color: blue ;
	font-size:1.em;
	border-radius: 15px;
	text-align:center;
	
	
}

.button:hover	{
	
	height: 150px;
    width: 200px;
	color: red;
	background-color: black;
	
}


.Home {
background-image: url("Picture/smiteschoosingscreen.jpg"); 
    background-repeat: no-repeat;
	text-align: center;
}

.Home table {
    width: 100%;
    color: white;
	
	}
   
   .lose {
   background-image: url("Picture/deafetscreen.jpg"); 
    background-repeat: no-repeat;
	text-align: center;
	background-size:cover;
	
	
   }